.body {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}


.image img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 40vw;
  width: max-content;
  min-width: 20vw;
}

.image button {
    height: 40vw;
    width: 2vw;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 0;
    border-radius: 0;
}

.image button:hover {
    background-color: rgba(143, 34, 201, 1);
}

.leftButton > button{
    left: 4vw;
}

.rightButton > button {
    right: 4vw;
}

.image svg {
    color: black
}

.image-footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 20px;
}

.description {
    padding: 8px 12px;
}

.buying-section {
    width: 30%;
}

.buying-section > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    height: 90%;
    width: 200px;
    border-radius: 10%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);

    .separador-inputs {
        margin-bottom: 1em;
        color:var(--color-violeta-claro);

        
    }

    .separador-inputs > .text-field-input > .Mui-focused  fieldset {
        border-color: var(--color-violeta-claro);
    }

    .separador-inputs > .text-field-input > label.Mui-focused {
        color: var(--color-violeta-claro);
    }

    .separador-inputs > label.Mui-focused {
        color: var(--color-violeta-claro);
    }


    .separador-inputs > .Mui-focused.MuiInput-root::after {
        border-bottom: 2px solid var(--color-violeta-claro);
    }

}

.chips-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5vw;
}


.boton-reservar.MuiButton-contained.MuiButton-root {
    background-color: var(--color-principal-cta);
    min-width: 100px;
    border-radius: 50px;
    text-transform: capitalize;

    &:hover {
        background-color: var(--color-principal-cta-hover);
    }
}


#mensaje-reserva-concretada {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
}

#titulo-reserva-concretada {
    color: black;
    font-size: 35px;
}

.dialogo-reserva-concretada .MuiDialog-container  {
    font-size: 35px;
    .icono-check {
        color: green;
        padding-left: 5px;
    }
}



@media(max-width: 780px) {
    .image-footer {
        flex-direction: column;
        align-items: center;
    }

    .buying-section {
        width: 50%;
        height: 50vh;
    }
}